defaults
  mode http
  timeout client 1s # the maximum time to receive HTTP request headers from the client.
  timeout server 1s # the maximum time to receive HTTP response headers from the server
  timeout connect 5s # the maximum time to wait for a connection attempt to a server to succeed.
  timeout http-request 10s
  retries 3
  option redispatch
frontend http-frontend
  mode http
  bind *:80
  default_backend http-backend
backend http-backend
    mode http
    balance roundrobin #source,leastconn,roundrobin
        server platform1 89.208.220.104:8080 check
        server platform2 5.188.143.67:8080 check
        server platform3 5.188.143.35:8080 check
